Repository fazalmajid/feedparser-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, python-bindings, node-bindings

docs: fix license badge to show MIT/Apache-2.0
  README.md
Due: none

test: improve test coverage to 83.78%
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

ci: add labeler workflow for PR automation
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

style: fix formatting
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

security: remove untrusted checkout from labeler workflow
  .github/workflows/labeler.yml
Due: none

docs: update README with supported formats and namespace extensions
  README.md
Due: none

docs(python): update README and export parse_url functions
  crates/feedparser-rs-py/Cargo.toml
  crates/feedparser-rs-py/README.md
  crates/feedparser-rs-py/python/feedparser_rs/__init__.py
Due: none

chore: release v0.1.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

feat(parser): add RSS 1.0 (RDF) parser support
  crates/feedparser-rs-core/src/parser/mod.rs
  crates/feedparser-rs-core/src/parser/rss10.rs
Due: rust-core

feat(util): add base_url module for xml:base URL resolution
  crates/feedparser-rs-core/src/util/base_url.rs
  crates/feedparser-rs-core/src/util/mod.rs
Due: rust-core

feat(encoding): add HTTP Content-Type charset extraction
  crates/feedparser-rs-core/src/util/encoding.rs
Due: rust-core

refactor: address code review feedback
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/util/encoding.rs
Due: rust-core

security: fix critical SSRF vulnerabilities and add input validation
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/util/base_url.rs
  crates/feedparser-rs-core/src/util/mod.rs
Due: rust-core

style: apply nightly rustfmt formatting
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/util/base_url.rs
  crates/feedparser-rs-core/src/util/mod.rs
Due: rust-core

refactor: consolidate duplicate code across parsers
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/json.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/src/util/text.rs
Due: rust-core

perf: add #[inline] annotations and extract parse_enclosure helper
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

test: add comprehensive tests for iTunes and Podcast 2.0 namespaces
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

refactor: add collect_attributes and find_attribute helpers
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

fix: address Copilot review comments for handler logic
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

style: apply rustfmt
  .github/copilot-instructions.md
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

fix: implement bozo pattern for attribute parsing errors
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

docs: add GitHub Copilot code review instructions
  .github/copilot-instructions.md
  .github/instructions/node-bindings.instructions.md
  .github/instructions/parser.instructions.md
  .github/instructions/python-bindings.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/types.instructions.md
Due: none

refactor: document allocation requirements and add error constant
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

docs(parser): add documentation for Result<bool> pattern and parameter counts
  crates/feedparser-rs-core/src/parser/rss.rs
Due: rust-core

feat(namespace): add GeoRSS, Creative Commons, and ParseOptions API
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/namespace/cc.rs
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/namespace/mod.rs
  crates/feedparser-rs-core/src/options.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/util/date.rs
Due: rust-core

style: apply rustfmt formatting
  crates/feedparser-rs-core/src/namespace/cc.rs
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/options.rs
  crates/feedparser-rs-core/src/util/date.rs
Due: rust-core

docs: remove backticks from GeoRSS in doc comments
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/namespace/mod.rs
  crates/feedparser-rs-core/src/types/entry.rs
Due: rust-core

Revert "docs: remove backticks from GeoRSS in doc comments"
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/namespace/mod.rs
  crates/feedparser-rs-core/src/types/entry.rs
Due: rust-core

ci(npm): configure trusted publishing with OIDC
  .github/workflows/release.yml
  crates/feedparser-rs-node/.npmrc
Due: none

chore: release v0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

fix(ci): add GITHUB_TOKEN for napi prepublish and fix artifact placement
  .github/workflows/release.yml
Due: none

fix(ci): skip napi prepublish and restore NPM_TOKEN auth
  .github/workflows/release.yml
Due: none

fix(ci): use native OIDC for npm trusted publishing
  .github/workflows/release.yml
Due: none

fix(ci): update npm to 11.5.1+ for trusted publishing
  .github/workflows/release.yml
Due: none

docs: update crate READMEs with GitHub callouts and consistent formatting
  crates/feedparser-rs-core/README.md
  crates/feedparser-rs-node/README.md
  crates/feedparser-rs-py/README.md
Due: none

chore: release v0.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

feat(parser): add feed.published field and xml:base URL resolution (#26)
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/src/util/base_url.rs
  crates/feedparser-rs-core/tests/test_url_resolution.rs
  crates/feedparser-rs-core/tests/test_url_security.rs
  crates/feedparser-rs-node/__test__/index.spec.mjs
  crates/feedparser-rs-node/index.d.ts
  crates/feedparser-rs-node/index.js
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
  crates/feedparser-rs-py/tests/test_phase1_integration.py
Due: rust-core, python-bindings, node-bindings

feat(parser): add xml:lang tracking and license field support (#27)
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-node/index.d.ts
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
Due: rust-core, python-bindings, node-bindings

feat(rss10): add syndication namespace with Python and Node.js bindings (#28)
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/namespace/mod.rs
  crates/feedparser-rs-core/src/namespace/syndication.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/tests/test_rss10.rs
  crates/feedparser-rs-node/__test__/syndication.spec.mjs
  crates/feedparser-rs-node/index.d.ts
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
  crates/feedparser-rs-py/src/types/mod.rs
  crates/feedparser-rs-py/src/types/syndication.rs
  crates/feedparser-rs-py/tests/test_syndication.py
Due: rust-core, python-bindings, node-bindings

chore: release v0.3.0 (#29)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/feedparser-rs-core/README.md
  crates/feedparser-rs-node/README.md
  crates/feedparser-rs-node/package-lock.json
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/Cargo.toml
  crates/feedparser-rs-py/README.md
  crates/feedparser-rs-py/pyproject.toml
Due: none

Path conditions:
  rust-core: any of: crates/feedparser-rs-core/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
  python-bindings: any of: crates/feedparser-rs-py/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
  node-bindings: any of: crates/feedparser-rs-node/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
