Repository fazalmajid/feedparser-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, python-bindings, node-bindings

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Project must have at least 70% coverage
        target: 70%
        # Allow up to 2% drop in coverage
        threshold: 2%
        # Only post status if coverage changes
        if_ci_failed: error

    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%
        if_ci_failed: error

  precision: 2
  round: down
  range: "60...90"

# Configure flags for different components
flags:
  rust-core:
    paths:
      - crates/feedparser-rs-core/src/
    carryforward: true

  python-bindings:
    paths:
      - crates/feedparser-rs-py/src/
    carryforward: true

  node-bindings:
    paths:
      - crates/feedparser-rs-node/src/
    carryforward: true

# Comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore these paths from coverage
ignore:
  - "tests/"
  - "benches/"
  - "examples/"
  - "*/tests/*"
  - "*/benches/*"
  - "**/tests.rs"
  - "**/test_*.rs"

# GitHub checks
github_checks:
  annotations: true

feat: complete namespace support (Podcast 2.0, Media RSS, GeoRSS) (#35)
  crates/feedparser-rs-core/src/compat/mod.rs
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/limits.rs
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/namespace/media_rss.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/types/common.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/src/types/mod.rs
  crates/feedparser-rs-core/src/types/podcast.rs
  crates/feedparser-rs-core/tests/test_podcast_namespace.rs
  crates/feedparser-rs-py/src/limits.rs
Due: rust-core, python-bindings

feat: complete Python and Node.js bindings for all namespaces (#36)
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-node/__test__/phase3-fields.spec.mjs
  crates/feedparser-rs-node/index.d.ts
  crates/feedparser-rs-node/index.js
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/pyproject.toml
  crates/feedparser-rs-py/src/lib.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
  crates/feedparser-rs-py/src/types/geo.rs
  crates/feedparser-rs-py/src/types/media.rs
  crates/feedparser-rs-py/src/types/mod.rs
  crates/feedparser-rs-py/src/types/podcast.rs
  crates/feedparser-rs-py/tests/test_bindings.py
  crates/feedparser-rs-py/tests/test_integration.py
  crates/feedparser-rs-py/uv.lock
Due: rust-core, python-bindings, node-bindings

fix: enforce strict clippy lints and eliminate technical debt (#37)
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/generics.rs
  crates/feedparser-rs-core/tests/http_integration.rs
  crates/feedparser-rs-core/tests/integration_tests.rs
  crates/feedparser-rs-core/tests/namespace_edge_cases.rs
  crates/feedparser-rs-core/tests/namespace_integration.rs
  crates/feedparser-rs-core/tests/test_podcast_namespace.rs
  crates/feedparser-rs-core/tests/test_rss10.rs
  crates/feedparser-rs-core/tests/test_url_resolution.rs
  crates/feedparser-rs-core/tests/test_url_security.rs
  crates/feedparser-rs-node/__test__/phase3-fields.spec.mjs
  crates/feedparser-rs-py/tests/test_bindings.py
  crates/feedparser-rs-py/tests/test_integration.py
Due: rust-core

feat: type optimizations - semantic newtypes and boxed namespace metadata (#38)
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-core/Cargo.toml
  crates/feedparser-rs-core/benches/types.rs
  crates/feedparser-rs-core/examples/error_handling.rs
  crates/feedparser-rs-core/examples/feeds/malformed_feed.xml
  crates/feedparser-rs-core/examples/feeds/sample_atom.xml
  crates/feedparser-rs-core/examples/feeds/sample_podcast.xml
  crates/feedparser-rs-core/examples/feeds/sample_rss.xml
  crates/feedparser-rs-core/examples/parse_file.rs
  crates/feedparser-rs-core/examples/parse_url.rs
  crates/feedparser-rs-core/examples/podcast_feed.rs
  crates/feedparser-rs-core/examples/profile_memory.rs
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/namespace/cc.rs
  crates/feedparser-rs-core/src/namespace/content.rs
  crates/feedparser-rs-core/src/namespace/dublin_core.rs
  crates/feedparser-rs-core/src/namespace/georss.rs
  crates/feedparser-rs-core/src/namespace/media_rss.rs
  crates/feedparser-rs-core/src/namespace/syndication.rs
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/json.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/parser/rss10.rs
  crates/feedparser-rs-core/src/types/common.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/src/types/mod.rs
  crates/feedparser-rs-core/src/types/podcast.rs
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
Due: rust-core, python-bindings, node-bindings

feat(py): Python feedparser compatibility improvements (P0-P1) (#39)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/Cargo.toml
  crates/feedparser-rs-py/README.md
  crates/feedparser-rs-py/pyproject.toml
  crates/feedparser-rs-py/src/lib.rs
  crates/feedparser-rs-py/src/types/compat.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
  crates/feedparser-rs-py/src/types/mod.rs
  crates/feedparser-rs-py/src/types/parsed_feed.rs
  crates/feedparser-rs-py/tests/test_basic.py
  crates/feedparser-rs-py/tests/test_compat.py
Due: python-bindings

chore(deps): update dependencies to v0.4.1 (#43)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-core/Cargo.toml
  deny.toml
Due: none

chore: bump Python and Node.js manifest versions to 0.4.1 (#44)
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

fix(rss): handle self-closing XML elements correctly (#46)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/tests/issue45_test.rs
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
  crates/feedparser-rs-py/uv.lock
Due: rust-core

chore: update Python version support (3.10-3.14) (#47)
  .github/instructions/python-bindings.instructions.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/__test__/index.spec.mjs
  crates/feedparser-rs-node/__test__/phase3-fields.spec.mjs
  crates/feedparser-rs-node/__test__/syndication.spec.mjs
  crates/feedparser-rs-node/biome.json
  crates/feedparser-rs-node/package-lock.json
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-node/pnpm-lock.yaml
  crates/feedparser-rs-py/README.md
  crates/feedparser-rs-py/pyproject.toml
  crates/feedparser-rs-py/python/feedparser_rs/__init__.py
  crates/feedparser-rs-py/tests/test_basic.py
  crates/feedparser-rs-py/tests/test_bindings.py
  crates/feedparser-rs-py/tests/test_compat.py
  crates/feedparser-rs-py/uv.lock
Due: none

chore: add dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): make Rust coverage upload non-blocking
  .github/workflows/ci.yml
Due: none

chore(deps): update project dependencies (#53)
  Cargo.lock
  crates/feedparser-rs-node/biome.json
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-node/pnpm-lock.yaml
  crates/feedparser-rs-py/uv.lock
Due: none

fix(deps): update Cargo.lock to resolve RUSTSEC-2026-0013 (#62)
  .github/workflows/ci.yml
  Cargo.lock
  crates/feedparser-rs-node/biome.json
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-node/pnpm-lock.yaml
Due: none

fix: handle GUIDs with XML entities in them like feedparser-py
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-py/tests/test_guid_entities.py
Due: rust-core

implemented Copilot recommendations
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-py/tests/test_guid_entities.py
Due: rust-core
