Repository fazalmajid/feedparser-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, python-bindings, node-bindings

refactor: implement Phase 1 DRY improvements
  crates/feedparser-rs-core/src/http/client.rs
  crates/feedparser-rs-core/src/namespace/dublin_core.rs
  crates/feedparser-rs-core/src/namespace/media_rss.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/types/common.rs
  crates/feedparser-rs-core/src/util/text.rs
Due: rust-core

test(http): add unit tests for insert_header helper
  crates/feedparser-rs-core/src/http/client.rs
Due: rust-core

refactor: complete DRY refactoring Phases 2, 3, and 4
  crates/feedparser-rs-core/src/parser/atom.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/json.rs
  crates/feedparser-rs-core/src/parser/mod.rs
  crates/feedparser-rs-core/src/parser/namespace_detection.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
Due: rust-core

fix: address code review findings from DRY refactoring
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/namespace_detection.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
Due: rust-core

style: fix formatting (nightly rustfmt)
  crates/feedparser-rs-core/src/http/client.rs
  crates/feedparser-rs-core/src/types/feed.rs
Due: rust-core

feat: implement Phase 5.1 - HTTP bindings and podcast support
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-node/Cargo.toml
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/Cargo.toml
  crates/feedparser-rs-py/src/lib.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/parsed_feed.rs
Due: rust-core, python-bindings, node-bindings

fix: address review findings for Phase 5.1
  crates/feedparser-rs-core/src/http/client.rs
  crates/feedparser-rs-core/src/parser/rss.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-node/src/lib.rs
Due: rust-core, node-bindings

fix(ci): use correct Node.js test coverage flag
  .github/workflows/ci.yml
  crates/feedparser-rs-node/package.json
Due: none

fix(ci): use c8 for Node.js coverage reports
  crates/feedparser-rs-node/package-lock.json
  crates/feedparser-rs-node/package.json
Due: none

feat: migrate all scripts and CI tasks to cargo-make
  .github/workflows/ci.yml
  Makefile.toml
  README.md
  benchmarks/compare.sh
Due: none

fix(ci): use c8 for Node.js coverage reports in cargo-make
  Makefile.toml
Due: none

fix(ci): remove duplicate action in clippy-sarif task
  Makefile.toml
Due: none

refactor(ci): remove clippy-sarif in favor of CodeQL
  .github/workflows/ci.yml
  Makefile.toml
Due: none

fix(ci): make cargo-make tasks cross-platform
  .github/workflows/ci.yml
  Makefile.toml
Due: none

fix(ci): use @shell runner for npm commands on Windows
  .github/workflows/ci.yml
  Makefile.toml
Due: none

perf(ci): migrate from npm to pnpm for faster package management
  .github/workflows/ci.yml
  Makefile.toml
  crates/feedparser-rs-node/package-lock.json
  crates/feedparser-rs-node/pnpm-lock.yaml
Due: none

fix(ci): remove --frozen-lockfile for pnpm (optional deps not published)
  Makefile.toml
Due: none

fix(ci): use --no-optional for pnpm to skip unpublished native binaries
  Makefile.toml
Due: none

fix(ci): remove unpublished optionalDependencies from package.json
  Makefile.toml
  crates/feedparser-rs-node/package.json
Due: none

feat(ci): optimize workflow with path-based conditional job execution
  .github/workflows/ci.yml
Due: none

docs: prepare project for publication and contribution
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  crates/feedparser-rs-core/README.md
Due: none

perf(ci): use pre-built nextest binary in test-rust job
  .github/workflows/ci.yml
Due: none

perf(ci): split lint job into parallel stable and nightly jobs
  .github/workflows/ci.yml
  Makefile.toml
Due: none

fix(ci): avoid redundant cargo-llvm-cov installation in coverage job
  Makefile.toml
Due: none

perf(ci): optimize Windows builds with lld linker and disabled Defender
  .cargo/config.toml
  .github/workflows/ci.yml
Due: none

docs: add GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: rename core crate from feedparser-rs-core to feedparser-rs
  Cargo.lock
  README.md
  crates/feedparser-rs-core/Cargo.toml
  crates/feedparser-rs-core/README.md
  crates/feedparser-rs-core/benches/parsing.rs
  crates/feedparser-rs-core/src/http/mod.rs
  crates/feedparser-rs-core/src/http/validation.rs
  crates/feedparser-rs-core/src/lib.rs
  crates/feedparser-rs-core/src/limits.rs
  crates/feedparser-rs-core/src/namespace/mod.rs
  crates/feedparser-rs-core/src/parser/common.rs
  crates/feedparser-rs-core/src/parser/detect.rs
  crates/feedparser-rs-core/src/parser/mod.rs
  crates/feedparser-rs-core/src/parser/namespace_detection.rs
  crates/feedparser-rs-core/src/types/common.rs
  crates/feedparser-rs-core/src/types/entry.rs
  crates/feedparser-rs-core/src/types/feed.rs
  crates/feedparser-rs-core/src/types/generics.rs
  crates/feedparser-rs-core/src/types/podcast.rs
  crates/feedparser-rs-core/src/types/version.rs
  crates/feedparser-rs-core/src/util/date.rs
  crates/feedparser-rs-core/src/util/encoding.rs
  crates/feedparser-rs-core/src/util/sanitize.rs
  crates/feedparser-rs-core/src/util/text.rs
  crates/feedparser-rs-core/tests/http_integration.rs
  crates/feedparser-rs-core/tests/integration_tests.rs
  crates/feedparser-rs-core/tests/namespace_edge_cases.rs
  crates/feedparser-rs-core/tests/namespace_integration.rs
  crates/feedparser-rs-node/Cargo.toml
  crates/feedparser-rs-node/src/lib.rs
  crates/feedparser-rs-py/Cargo.toml
  crates/feedparser-rs-py/src/error.rs
  crates/feedparser-rs-py/src/lib.rs
  crates/feedparser-rs-py/src/limits.rs
  crates/feedparser-rs-py/src/types/common.rs
  crates/feedparser-rs-py/src/types/entry.rs
  crates/feedparser-rs-py/src/types/feed_meta.rs
  crates/feedparser-rs-py/src/types/parsed_feed.rs
  crates/feedparser-rs-py/src/types/podcast.rs
Due: rust-core, python-bindings, node-bindings

fix: correct repository URLs in pyproject.toml
  crates/feedparser-rs-py/pyproject.toml
Due: none

docs: use modest claims in documentation
  README.md
  crates/feedparser-rs-core/README.md
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/README.md
  crates/feedparser-rs-py/pyproject.toml
Due: none

chore: release v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

chore: release v0.1.2
  .github/workflows/release-npm.yml
  .github/workflows/release-pypi.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

chore: release v0.1.3
  .github/workflows/release-crates.yml
  .github/workflows/release-pypi.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

chore: release v0.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package-lock.json
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

fix: resolve CI failures for cross-platform builds
  .github/workflows/release-npm.yml
  .github/workflows/release-pypi.yml
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-core/Cargo.toml
Due: none

chore: release v0.1.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: allow CDLA-Permissive-2.0 license for webpki-roots
  deny.toml
Due: none

fix: unify GitHub Release workflow and sync version numbers
  .github/workflows/release-crates.yml
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pypi.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

refactor: merge all release workflows into single release.yml
  .github/workflows/release-crates.yml
  .github/workflows/release-github.yml
  .github/workflows/release-npm.yml
  .github/workflows/release-pypi.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/feedparser-rs-node/package.json
  crates/feedparser-rs-py/pyproject.toml
Due: none

Path conditions:
  rust-core: any of: crates/feedparser-rs-core/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
  python-bindings: any of: crates/feedparser-rs-py/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
  node-bindings: any of: crates/feedparser-rs-node/src/, but not: tests/, benches/, examples/, */tests/*, */benches/*, **/tests.rs, **/test_*.rs
